/* Responsive  CSS  */
@media screen and (min-width: 400px) {
/* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    margin: auto;
    width: 100%;
  }
  #restaurants-list li {
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* width: 95%; */
  }
  #restaurants-list .restaurant-img {
    margin: auto;
    padding: 0;
    height: auto;
  }
  #restaurants-list li h1 {
    margin: 20px 0 10px 4%;
  }
  #restaurants-list p {
    margin-left: 4%;
  }
  #restaurants-list li a {
    margin-left: 4%;
  }

/* ====================== Restaurant Details ====================== */
  #restaurant-container, #reviews-container {
	  width: 100%;
}

  #reviews-list li {
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 50px;
    padding-top: 10px;
  }
}

/* ====================================================== */
/* Minor Breakpoint */
@media screen and (min-width: 500px)  {
/* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  #restaurants-list li {
  	/* width: 50%; */
	}
/* ====================== Restaurant Details ====================== */
  .inside header nav #breadcrumb	{
    padding: 0;
    text-align: left;
    margin-top: 39px;
}
}

/* ====================================================== */
@media screen and (min-width: 700px) {
  #breadcrumb {
      width: 50%;
  }

/* ====================== Map ====================== */
  #map-container  {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* margin: auto; */
    /* padding: 30px 0px 60px; */
    /* width: 100%; */
  }
  #restaurants-list .restaurant-img {
    margin: auto;
    padding: 0;
    height: auto;
  }
  #restaurants-list li h1 {
    margin: 20px 0 10px 0;
  }
  #restaurants-list p {
    margin-left: 4%;
  }
  #restaurants-list li a {
    margin-left: 4%;
  }
  /* ====================== Restaurant Details ====================== */
  .inside header {
    position: absolute;
    /* width: 100%; */
  }
  .inside #map-container {
    height: 90%;
    position: absolute;
    right: 0;
    top: 80px;
    max-width: 50%;
  }
  .inside header nav #breadcrumb	{
    padding: 0;
    text-align: left;
    margin-top: 42px;
  }
  #restaurant-img {
  	max-width: 100%;
    height: auto;
  }
  #restaurant-container, #reviews-container {
    padding: 140px 0px 30px;
    max-width: 50%;
  }
  #reviews-container {
    padding: 30px 0px 80px;
  }
  #reviews-list li {
    margin: auto;
    margin-bottom: 15px;
    padding-top: 10px;
  }
}

/* ====================================================== */
@media screen and (min-width: 950px) {

/* ====================== Navigation ====================== */
#breadcrumb {
    width: calc(50% - 0px);
}

/* ====================== Map ====================== */
#map-container  {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  align-items: center;
}
/*
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
*/
.filter-options select {
  height: 35px;
  padding: 0 10px;
  width: 20%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  /* padding: 30px 0px 60px; */
  width: 100%;
}
#restaurants-list li {
  padding-top: 25px;
  padding-bottom: 25px;
  /* width: 100%; */
}
#restaurants-list .restaurant-img {
  margin: auto;
  padding: 0;
}
#restaurants-list li h1 {
  margin: 20px 0 10px 0;
}
#restaurants-list p {
  margin-left: 4%;
}
#restaurants-list li a {
  /* margin-left: 4%; */
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: absolute;
}
.inside header nav #breadcrumb	{
  padding: 0;
  text-align: left;
  margin-top: 42px;
}
.inside #map-container {
  height: 90%;
  position: absolute;
  right: 0;
  top: 80px;
  max-width: 50%;
}
#restaurant-img {
	max-width: 100%;
  height: auto;
}
#restaurant-container, #reviews-container {
  padding: 140px 0px 30px;
  /* margin: auto; */
  max-width: 50%;
}
#reviews-container {
  padding: 30px 0px 80px;
}
#reviews-list li {
  margin: auto;
  margin-bottom: 15px;
  padding-top: 10px;
}

}
