/* CSS Document */
	body,td,th,p	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #333;
		line-height: 1.5;
	}
	p	{
		line-height: 1.3;
	}
	body {
		background-color: #fdfdfd;
		margin: 0;
		padding: 0;
		min-width: 320px;
		width: 100%;
		position:relative;
	}
	ul, li {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #333;
	}
	a {
		color: orange;
		text-decoration: none;
	}
	a:hover, a:focus {
		color: #3397db;
		text-decoration: none;
	}
	a img{
		border: none 0px #fff;
	}
	h1, h2, h3, h4, h5, h6 {
  	font-family: Arial, Helvetica, sans-serif;
  	margin: 0 0 20px;
	}
	article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	#maincontent {
  	background-color: #f3f3f3;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#footer {
  	background-color: #444;
  	letter-spacing: 1px;
		text-align: center;
  	text-transform: uppercase;
  	padding: 25px;
	}
	#footer p{
		color: #fff;
		font-size: .688em;
	}

/* ====================== Navigation ====================== */
	.skip-link	{
		position: absolute;
		top: -40px;
		left: 0;
		background: #BF1722;
		color: white;
		padding: 8px;
		z-index: 100;
	}
	.skip-link:focus{
		top: 0;
	}
	nav {
  	width: 100%;
  	height: 80px;
  	background-color: #252831;
  	text-align:center;
	}
	nav h1 {
  	margin: auto;
	}
	nav h1 a {
  	color: #fff;
  	font-size: 1.125em;
  	font-weight: 200;
  	letter-spacing: 10px;
  	text-transform: uppercase;
	}
	#breadcrumb {
		padding: 10px 0px 16px 0px;
    list-style: none;
    background-color: #eee;
    font-size: 1.12em;
    margin: 0;
		width: 100%;
	}

/* Display list items side by side */
	#breadcrumb li {
    display: inline;
	}

/* Add a slash symbol (/) before/behind each list item */
	#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
	}

/* Add a color to all links inside the list */
	#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
	}

/* Add a color on mouse-over */
	#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
	}

/* ====================== Map ======================================= */
	#map {
  	height: 400px;
  	width: 100%;
  	background-color: #ccc;
	}

/* ====================== Restaurant Filtering ====================== */
	#filters {
		background-color: #3397DB;
		padding-top: 1em;
		width: 100%;
	}
	#filters h2 {
  	color: white;
  	font-size: 1.25em;
  	font-weight: normal;
  	line-height: 1;
  	margin: 0 10px;
	}
	.filter-options {
		display: flex;
		justify-content: space-around;
  	height: auto;
  	background-color: #3397DB;
	}
	.filter-options select {
  	background-color: white;
  	border: 1px solid #fff;
  	font-family: Arial,sans-serif;
  	font-size: 1em;
  	height: 40px;
  	letter-spacing: 0;
  	margin: 10px;
  	padding: 10px 0px;
  	width: 50%;
	}

/* ====================== Restaurant Listing ====================== */
	#restaurants-list {
  	background-color: #f3f3f3;
  	list-style: outside none none;
  	margin: 0;
  	padding: 0;
  	text-align: center;
	}
	#restaurants-list li {
  	background-color: #fff;
  	border: 2px solid #ccc;
  	font-family: Arial,sans-serif;
  	margin: auto;
  	height: auto;
  	padding: 0;
  	text-align: left;
  	width: 100%;
	}
	#restaurants-list .restaurant-img {
  	background-color: #ccc;
  	display: block;
  	margin: 0;
  	max-width: 100%;
  	height: auto;
	}
	#restaurants-list li h1 {
  	color: #f18200;
  	font-family: Arial,sans-serif;
  	font-size: 1.125em;
  	font-weight: 200;
  	letter-spacing: 0;
  	line-height: 1.3;
  	margin: 20px 0 10px 1%;
  	text-transform: uppercase;
	}
	#restaurants-list p {
  	margin-left: 1%;
  	font-size: 1em;
	}
	#restaurants-list li a {
  	background-color: orange;
  	border-bottom: 3px solid #eee;
  	color: #fff;
  	display: inline-block;
  	font-size: 1em;
  	margin: 15px 0 0 1%;
  	padding: 8px 30px 10px;
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
	}

/* ====================== Restaurant Details ====================== */
	body .inside {
		font-size: 1em;
		padding: 0;
		margin: 0;
		display: grid;
	}
	.inside header {
  	position: fixed;
  	top: 0;
		min-width: 320px;
  	width: 100%;
  	z-index: 1000;
	}
	.inside #map-container {
  	background: blue none repeat scroll 0 0;
		height: 400px;
		position: static;
		width: 100%;
	}
	.inside #map {
  	background-color: #ccc;
  	height: 100%;
  	width: 100%;
	}
	.inside #restaurant-name {
		font-size: 1.5em;
	}
	#restaurant-name {
  	color: #f18200;
  	font-family: Arial,sans-serif;
  	font-size: 1.6em;
  	font-weight: 200;
  	letter-spacing: 0;
  	margin: 15px 0 30px;
  	text-transform: uppercase;
  	line-height: 1.1;
	}
	#restaurant-img {
		width: 100%;
	}
	#restaurant-address {
  	font-size: 1em;
  	margin: 10px 0px;
	}
	#restaurant-cuisine {
  	background-color: #333;
  	color: #ddd;
  	font-size: 1em;
  	font-weight: 300;
  	letter-spacing: 10px;
  	margin: 0 0 20px;
  	padding: 2px 0;
  	text-align: center;
  	text-transform: uppercase;
		width: 100%;
	}
	#restaurant-container, #reviews-container {
  	border-bottom: 1px solid #d9d9d9;
  	border-top: 1px solid #fff;
		max-width: 100%;
	}
	#reviews-container h2 {
  	color: #f58500;
  	font-size: 2em;
  	font-weight: 300;
  	letter-spacing: -1px;
  	padding-bottom: 1pt;
	}
	#reviews-list {
  	margin: 0;
  	padding: 0;
	}
	#reviews-list li {
  	background-color: #fff;
  	border: 2px solid #f3f3f3;
  	display: block;
  	list-style-type: none;
  	margin: 0 0 30px;
  	overflow: hidden;
  	padding: 0 20px 20px;
  	position: relative;
  	width: 85%;
	}
	#reviews-list li p {
  	margin: 0 0 10px;
	}
	#restaurant-hours td {
  	color: #666;
	}
